<h1>Shyam's All Sales are Final Shop</h1>

<table class="table table-responsive">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Image url</th>
      <th>Price</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.title %></td>
        <td><%= strip_tags(product.description) %></td>
        <td><%= image_tag(product.image_url) %></td>
        <td><%= number_to_currency(product.price) %> <%= button_to 'Add to Cart', line_items_path(product_id: product) %></td>
        <td><%= product.decimal %></td>
      </tr>
    <% end %>
  </tbody>
</table>